<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'
      rel='stylesheet'
    />
    <style>
      * { box-sizing: border-box; margin: 0; padding: 0; } body { padding: 1rem;
      width: 100vw; } p { margin-top: 0.2rem; font-size: 1.1rem; font-weight:
      300; } .light { color: #696969; font-size: 0.9rem; line-height: 1.2rem; }
      .regular-light { font-weight: 400; } .regular { font-weight: 500; } .bold
      { font-weight: 700; } .uppercase { text-transform: uppercase; } .semiTitle
      { margin-top: 1.5rem; } .main { background-color: #f4f4ff; color: black;
      border-radius: 0 0 34px 34px; max-width: 600px; margin: 2rem auto;
      font-family: Roboto, sans-serif; } .top { background-color: #656ee8;
      padding: 2rem 2.5rem 2.5rem; color: white; border-radius: 34px 34px 0 0; }
      .orderSuccessful { text-transform: uppercase; letter-spacing: 3px;
      font-size: 1.2rem; } .thanksForShopping { letter-spacing: 1px; font-size:
      1rem; } .bottom { padding: 3rem; } .pleaseRetain { margin: 2rem 0 0; }
      .shippingTitle { letter-spacing: 0.1rem; margin-top: 2rem; } .product {
      display: grid; grid-template-columns: 1fr 4fr; } .image { min-width: 60px;
      width: 60px; min-height: 60px; height: 60px; background-color: gray;
      box-shadow: 0px 3px 6px #00000029;} .totalsWrapper { display: flex;
      justify-content: space-between; } .totalsWrapper p { font-size: 0.9rem; }
    </style>
  </head>
  <body>
    <div class='main'>
      <div class='top'>
        <p class='orderSuccessful regular'>{{message}}</p>
        <p class='thanksForShopping'>
          Thanks for shopping with Mad About Fabrics
        </p>
      </div>
      <div class='bottom'>
        <p class='regular-light'>Invoice Number: {{sampleNumber}}</p>
        <p class='regular-light'>Order Date: {{orderDate}}</p>
        <p class='pleaseRetain regular-light'>
          Please, retain this invoice as proof of purchase
        </p>
        <p class='shippingTitle regular'>SHIPPING</p>
        <div
          style='
            height: 1px;
            background-color: lightgray;
            margin: 0.5rem 0 1rem;
          '
        ></div>
        <p class='semiTitle regular-light'>Shipping Address</p>
        <p class='light'>{{s_name}}</p>
        <p class='light'>{{s_direction}}</p>
        <p class='light'>{{s_town}} {{s_postalCode}} {{s_country}}</p>
        <p class='light'>{{s_email}}</p>
        <p class='light'>{{s_phoneNumber}}</p>
        <p class='shippingTitle regular uppercase'>
          {{#if shipped}} Arrives on or before {{eta}} days {{else}}
            Available from store right now
          {{/if}}
        </p>
        {{#each productsBought}}
          <div style='display: flex; margin-top: 0.5rem'>
            <img
              style='margin: 0.5rem; display: inline; width: 50px; height: 50px'
              alt='product'
              src={{this.url}}
            />
            <div style='display: inline; margin-left: 0.5rem'>
              <p style='font-weight: 400; font-size: 0.9rem'>{{this.name}}</p>
              <p class='light'>Color:
                {{this.color}}</p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>