input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 2px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 2px;
  width: 15%;
  border-radius: 0%;
  background: #000;
  cursor: pointer;
  border-radius: 18px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.custom-slider {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.custom-slider__input {
  width: 60%;
}
.slider-image-item {
  padding-bottom: 2em;
  scroll-behavior: smooth;
}
.react-multiple-carousel__arrow {
  margin: -12% -3% 0 0;
  z-index: 1;
}
.react-multiple-carousel__arrow--left {
  margin: -12% 0 0 -3%;
  z-index: 1;
}
