.title,
.see_all {
  text-align: center;
}

.title {
  font-family: Montserrat, sans-serif;
  margin-left: 0;
  letter-spacing: 0.3rem;
  font-weight: 700;
  font-size: 32px;
}

.see_all {
  display: inherit;
  font-family: Roboto, sans-serif;
  margin: 1rem auto 0;
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-weight: 300;
}

.see_all:hover {
  color: #fba586;
}

.carousel-prev,
.carousel-next {
  color: black !important;
  font-size: 20px !important;
  width: 100px !important;
}
.carousel-prev img,
.carousel-next img {
  background-color: white;
  filter: invert(100%);
  border-radius: 100px;
  padding: 0.5rem;
  cursor: pointer;
  opacity: 70%;
}
.carousel-next img {
  transform: rotate(180deg);
}
.carousel-prev img:hover,
.carousel-next img:hover {
  border: 1px solid grey;
}

@media all and (max-width: 700px) {
  .title {
    margin-left: 32px;
    letter-spacing: 0;
    text-align: left;
    font-weight: 800;
    font-size: 32px;
  }

  .see_all {
    display: none;
  }
}
