/* GENERAL */
.flex {
  display: flex;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.noLink {
  color: white;
  text-decoration: none;
}
.none {
  display: none;
}
.inline {
  display: inline;
}
.pointer {
  cursor: pointer;
}
.default {
  cursor: default;
}
.page {
  position: absolute;
  top: 90px;
  left: 160px;
  min-width: calc(100% - 160px);
  min-height: calc(100% - 90px);
  height: auto;
  background-color: #1a1a1a;
  padding: 2rem 3.5rem 1rem 2rem;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.page h1 {
  font-size: 21.75px;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}
.page h2 {
  font-size: 19px;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}
.page h3 {
  font-size: 16px;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}
.page p {
  font-size: 12px;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}
.page2 {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1a1a1a;
  padding: 2rem 3.5rem 1rem 2rem;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.selected {
  background-color: #212121;
}
.invert {
  height: 20px;
  width: 20px;
}
.arrow1 {
  filter: invert(100%);
  margin-right: 1rem;
  cursor: pointer;
}
.arrow2 {
  filter: invert(100%);
  transform: rotate(180deg);
  margin-left: 1rem;
  cursor: pointer;
}
.justify_items_left {
  justify-self: left;
}
.justify_self_center {
  justify-self: center;
}
.align_self_center {
  align-self: center;
}
.black {
  color: black;
}
.gray {
  color: gray;
}
.green {
  color: #0ec14c;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}
.this_red {
  color: #d21658;
}
.this_green {
  color: #12bc74;
}
.nope {
  display: none;
}
.complete {
  background-color: #12bc74;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
}
.complete:hover {
  background-color: #12bc75c7;
}
.incomplete {
  background-color: #d21658;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
}
.incomplete:hover {
  background-color: #d21658c4;
}
.loadingStyle {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
}
.input,
textarea,
.select,
.ec_true_colours {
  min-height: 36.75px;
  outline: none;
  border: none;
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  color: white;
  resize: none;
  font-weight: 300;
  appearance: none;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.8rem;
  font-family: 'Raleway', sans-seriff;
}
textarea {
  height: 100px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.8rem;
  font-family: 'Raleway', sans-seriff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 0.8rem;
  font-family: 'Raleway', sans-seriff;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.8rem;
  font-family: 'Raleway', sans-seriff;
}
.select {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fe%2Fe0%2FWhite_triangle_inverted.svg%2F1200px-White_triangle_inverted.svg.png&f=1&nofb=1'),
    linear-gradient(to bottom, #262626 0%, #262626 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
}

.search_btn {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: none;
  font-size: 12px;
}

/* HOME */

/* ALL ORDERS */
.ao_header {
  justify-content: space-between;
  height: 40px;
}
.ao_headerRight {
  width: 40%;
  min-width: 400px;
}
.ordersTable {
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
}
.ordersTable a {
  text-decoration: none;
  color: white;
}
.ordersTable_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  line-height: 3.5rem;
}

/* SAMPLES */
.header_items p {
  white-space: nowrap;
}
.arrowL {
  filter: invert(100%);
  margin: 0 0.5rem 0 1rem;
  cursor: pointer;
}
.arrowR {
  filter: invert(100%);
  transform: rotate(180deg);
  margin: 0 1rem 0 0.5rem;
  cursor: pointer;
}
.no_samples {
  padding: 1rem 2rem;
}
.samplesTable_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  justify-items: center;
  line-height: 3.5rem;
  text-decoration: none;
  color: white;
}
/*  - SAMPLE DETAILS */
.sampleDetails {
  width: 35%;
  min-width: 400px;
}
.sampleDetails a {
  text-decoration: none;
  color: white;
}
.sampleDetails_back {
  justify-self: center;
  align-self: center;
  /* margin: 0.5rem 0 0 1.8rem; */
}
.sample_details_full_content {
  margin-top: 2rem;
  background-color: #262626;
  /* width: 35%; */
  padding: 2rem 1rem 2rem 2rem;
}
.sample_details_name {
  font-weight: 400 !important;
  margin: 0 0 0.5rem;
}
.sample_details_table {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.sample_details_section {
  margin-top: 1rem;
}
.sample_details_section p {
  line-height: 1.2rem;
}

/* CUSTOMERS */
.customersTable_grid {
  padding-left: 3rem;
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.7fr 1fr 0.7fr;
  justify-items: left;
  line-height: 2.5rem;
}
.customersTable_grid1 {
  padding-left: 3rem;
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.7fr 1fr 0.7fr;
  justify-items: left;
  line-height: 55px;
}
.customersTable_grid p,
.customersTable_grid1 p {
  cursor: pointer;
}
.lilArrow {
  width: 15px;
  height: 15px;
  margin: 0 0 0 10px;
}
.lilArrowReverse {
  width: 15px;
  height: 15px;
  margin: 0 0 0 10px;
  transform: rotate(180deg);
}

/* PRODUCTS */
.productsTable_grid a {
  font-size: 12px;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}
.productsTable_grid {
  display: grid;
  grid-template-columns: 0.2fr 0.4fr 0.8fr 0.8fr 0.9fr 0.3fr 0.9fr 0.5fr 0.4fr 0.6fr;
  gap: 15px;
  justify-items: left;
  height: 80px;
  padding: 1rem;
}
.productsTable_grid1 {
  align-items: center;
  height: 55px;
  padding: 1rem;
}
.products_table_lil_circle {
  width: 15px;
  height: 15px;
}
.product_imgCont {
  margin: 0 auto;
  height: 45px;
  width: 45px;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.product_img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.noProdsYet {
  padding: 1rem 2rem;
  font-size: 1.2rem !important;
}
.light {
  background-color: #262626;
}
.light:hover {
  background-color: #212121;
}
.show_options {
  display: none;
  width: fit-content;
}
.light:hover .show_options {
  display: flex;
}
.pt_line_betweem_trash_and_edit {
  margin: 0 0.5rem;
}
.show_options p:hover {
  text-decoration: underline;
}
.pt_coloursNameCont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.pt_name2 {
  padding-top: 2px;
  display: flex;
  width: fit-content;
}
.pt_name2 a {
  width: fit-content;
}
.pt_name2 a:hover {
  text-decoration: underline;
}
.pt_name2 p {
  width: fit-content;
  margin-right: 3px;
}
.pt_name:hover {
  text-decoration: underline;
}

/* - PRODUCTS SUMMARY */
.productSummary a {
  text-decoration: none;
}
.ps_titleCont {
  display: flex;
  margin-bottom: 2rem;
}
.ps_editBtn {
  background-color: #262626;
  border: none;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 6px;
  padding: 0.5rem 1.3rem;
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.16px;
  margin-left: 1rem;
}
.ps_editBtn:hover {
  background-color: #212121;
}
.ps_favorited_sold {
  margin-left: 1.5rem;
  padding: 0.3rem 0.5rem;
  background-color: #262626;
  border-radius: 8px;
}
.ps_main {
  width: 50%;
  line-height: 1.7rem;
  margin-left: 2rem;
}
.ps_grid2 {
  display: grid;
  grid-template-columns: 160px 250px;
  margin-bottom: 1rem;
  width: 100%;
}
.ps_grid4 {
  display: grid;
  grid-template-columns: 300px 300px;
  margin-bottom: 1rem;
}
.ps_tick {
  width: 70%;
  height: 70%;
  filter: brightness(0.1) sepia(1) saturate(10000%) hue-rotate(-40deg);
}
.ps_tick2 {
  width: 70%;
  height: 70%;
}
/* - EDIT PRODUCT */
.ep_grid2 {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
.ep_grid2_left {
  padding-left: 2.6rem;
}
.ep_grid4 {
  display: grid;
  grid-template-columns: 320px 300px;
  margin-top: 1.3rem;
  line-height: 1.5rem;
}
.ep_titleCont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.ep_titleCont_left {
  display: flex;
  width: 300px;
}
.ec_otherCtgs {
  margin: -0.2rem 0 0 1.5rem;
  background-color: #262626;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}
.ec_otherCtgs:hover {
  background-color: #212121;
}
.ep_titleCont_right {
  display: flex;
}
.ep_titleCont_right p {
  line-height: 31px;
}
.ep_titleCont_right input {
  width: 80px;
}
.ep_editBtn {
  height: 31px;
  width: 70px;
  background-color: #262626;
  border: none;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 6px;
  padding: 0.5rem 1.3rem;
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.16px;
  margin-left: 1rem;
}
.ep_editBtn:hover {
  background-color: #212121;
}
.ep_titleCont_url {
  text-decoration: underline;
}
.ep_input {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-weight: 300;
}
.ep_editable_url {
  background-color: rgba(245, 245, 245, 0.619);
  color: black;
  border-radius: 8px;
  text-decoration: none;
}
.ep_right_btnCont {
  padding: 2rem 0;
  justify-content: flex-start;
}
.ep_right_btn {
  min-height: 35px;
  outline: none;
  border: none;
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  color: white;
  resize: none;
  font-weight: 300;
  appearance: none;
  display: block;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  width: 180px;
}
.ep_right_btn:hover {
  background-color: #212121;
}
.ep_L_tagsCont {
  margin-top: 3rem;
}
.ep_grid2_right {
  padding-left: 6rem;
}
.ep_right_box {
  background-color: #262626;
  padding: 0.8rem 1rem 1.2rem;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 1.5rem;
}
.ep_right_box p {
  font-size: 0.7rem;
}
.ep_right_box_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.ep_lil_circle {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.ep_blue_circle {
  width: 13px;
  height: 13px;
  margin: 1px 10px 1px 2px;
  margin-right: 8px;
}
.ep_range_section {
  display: flex;
  width: 120px;
}
.ep_hr {
  border: none;
  margin: 0.4rem 0 0.6rem;
  border-top: 1px solid #212121;
}
.ep_message {
  height: 20px;
}
.ep_nope {
  opacity: 0;
}
.ep_range_coloursCont {
  margin-top: 2rem;
}
.ep_range_colours_title {
  margin-bottom: 1.5rem;
}
.ep_coloursCont {
  display: flex;
  flex-wrap: wrap;
}
.ep_colour_item {
  padding: 0.5rem 2.5rem;
  background: #212121 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 6px;
  width: fit-content;
  border: 1px solid transparent;
  text-decoration: none;
  color: white;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0 1rem 0.6rem 0;
}
.ep_colour_item:hover {
  border: 1px solid #1d77ba;
}
.ep_L_addColour_plusCont {
  background: #212121 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 6px;
  border: 1px solid transparent;
  margin: 0 1rem 0 0;
  width: 50px;
  height: 33px;
}
.ep_L_addColour_plusCont:hover {
  border: 1px solid #1d77ba;
}

/* - EDIT COLOUR */
.ecl_grid2 {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  margin-bottom: 1rem;
  width: 100%;
}
.ecl_titleCont {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.ecl_true_coloursCont {
  display: grid;
  grid-template-columns: 140px 1fr;
  margin-bottom: 10px;
}
.ecl_true_colours {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1.5rem;
  background-color: #262626;
  border-radius: 8px;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
  border: none;
  min-height: 36.75px;
}
.ecl_true_colours_item {
  display: flex;
  width: 120px;
  margin: 0 0 1rem 0;
}
.ecl_right_column {
  padding: 0 0 0 5rem;
  min-width: 350px;
}
.ecl_table {
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  padding: 1rem;
}
.ecl_table_title {
  line-height: 35px;
  padding: 0 20px;
}
.ecl_itemsCont {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 200px;
  padding: 0.5rem 0.5rem 4rem;
}
.ecl_itemsCont a {
  text-decoration: none;
  color: white;
}
.ecl_img_sectionCont {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0;
}

/* CATEGORIES */
.cat_title {
  color: white;
  text-decoration: none;
}
.cat_title h1 {
  margin-bottom: 20px;
}
.ct_fullTable {
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  min-width: 600px;
  width: 60%;
}
.ct_fullTable a {
  text-decoration: none;
  color: white;
}
.cl_table_title {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  gap: 20px;
  height: 55px;
  align-content: center;
  padding: 0 20px;
}
.cl_table_section {
  background-color: #212121;
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  gap: 20px;
  height: 85px;
  align-content: flex-start;
  padding: 10px 20px;
}
.cl_table_section:hover {
  background-color: #1a1a1a;
}
/* - EDIT CATEGORY */
.ec_fullTable {
  margin-top: 20px;
  box-shadow: 0px 3px 6px #00000029;
  min-width: 600px;
}
.ec_fullTable a {
  text-decoration: none;
  color: white;
}
.ec_inputCont {
  padding: 1rem 1.5rem;
  background-color: #262626;
}
.ec_inputCont input {
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 300;
  width: 100%;
}
.ec_itemsCont {
  background-color: #212121;
  width: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 400px;
  padding: 0.5rem 0.5rem 4rem;
}
.ec_item_name {
  padding: 0.6rem 1rem;
  background-color: #262626;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 6px;
  margin: 0.3rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  font-family: 'Raleway';
}
.ec_item_name:hover {
  background-color: #212121;
}
.ec_cross {
  border-radius: 100%;
  border: 1px solid white;
  margin-left: 0.5rem;
  padding: 1px;
  height: 15px;
  width: 15px;
}
.ec_grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ec_left_section {
  min-width: 600px;
  box-sizing: border-box;
}
.ec_right_section {
  margin-left: 2rem;
  padding: 5rem 0 5rem;
}
.ec_R_box {
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  padding: 1rem;
  margin: 0 auto;
  max-width: 300px;
}
.ec_R_box input {
  background-color: rgba(0, 0, 0, 0.291);
  outline: none;
  border: none;
  color: white;
  font-weight: 300;
  font-family: 'Raleway';
  padding: 0 1rem;
  width: 100%;
  border-radius: 6px;
}
.ec_R_box input,
.ec_R_box p {
  line-height: 2rem;
}
.ec_R_box button {
  background-color: #262626;
  color: white;
  font-weight: 300;
  font-family: 'Raleway';
  outline: none;
  border: 1px solid rgba(218, 218, 218, 0.747);
  border-radius: 8px;
  padding: 0.3rem 0.7rem;
}
.ec_R_box button:hover {
  background-color: #212121;
  border-color: #1d8cde;
}

/* inputs */
.inputCont {
  display: grid;
  grid-template-columns: 140px 1fr;
  margin-bottom: 10px;
  align-items: center;
}
.inputCont2 {
  display: grid;
  grid-template-columns: 130px 150px 130px 170px;
  margin-bottom: 0.8rem;
  gap: 10px;
}
.inputCont p,
.inputCont2 p {
  line-height: 36.75px;
}

/* checkboxes */
.checkboxCont {
  justify-content: space-between !important;
  margin-bottom: 0.3rem;
  font-size: 0.5rem;
}
.checkbox {
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  margin-right: 40%;
}
.checkbox_with_border {
  border: 1px solid rgba(245, 245, 245, 0.5);
}

/* MODAL */
.modal {
  top: 50%;
  left: calc(50% + 160px / 2);
  right: 50%;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #212121;
  border: 1px solid #707070;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  width: 65%;
  max-width: 580px;
  min-width: 350px;
  position: absolute;
  outline: none;
}
.modal p,
.modal button {
  font-family: 'Raleway' !important;
  font-weight: 300;
}
.dm_modalQuestionCont {
  margin: auto;
}
.dm_modalQuestion {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}
.dm_modalBtn {
  color: white;
  outline: none;
  border: none;
  margin: 1rem;
  border: 1px solid #1d8cde;
  border-radius: 8px;
  width: 123px;
  height: 40px;
}
.dm_modalBtn1 {
  background-color: #212121;
}
.dm_modalBtn1:hover {
  background-color: #2b2b2b;
}
.dm_modalBtn2 {
  background-color: #1d8cde;
}
.dm_modalBtn2:hover {
  background-color: #3ba0e8;
}

/* IMAGE PICKER */
.photoContStyle {
  margin: 0 0.9rem 2rem 0;
  height: 183px;
  width: 183px;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  border: 1px dashed gray;
  position: relative;
  overflow: hidden;
}
.noImgStyle {
  width: 100px;
  background-color: transparent;
  filter: invert(70%);
}
.loadingImgStyle {
  width: 100px;
}
.imgStyle {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imageEraser {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3%;
  right: 3%;
  z-index: 1;
}

/* SETTINGS */
.st_Cont {
  display: grid;
  grid-template-columns: 800px 200px;
}
.st_minisliderCont {
  display: grid;
  grid-template-columns: 500px 100%;
}
.st_inputCont {
  margin: 0.7rem 0;
  align-items: center;
  display: grid;
  grid-template-columns: 100px 400px;
}
.st_inputCont2 {
  align-items: center;
  display: grid;
  grid-template-columns: 350px 150px;
}
.st_inputCont3 {
  align-items: center;
  display: grid;
  grid-template-columns: 100px 250px;
}
.st_inputCont4 {
  align-items: center;
  display: grid;
  grid-template-columns: 70px 50px;
  padding: 0 0 0 2.9rem;
}
.st_miniSlider_R {
  align-items: flex-start;
  padding-top: 0.8rem;
  justify-content: flex-start;
  padding-left: 4rem;
  width: fit-content;
}
.st_btnCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  padding-left: 2rem;
}
