.categories_slider .scroll-horizontal {
  min-height: calc(100vw - 64px);
  display: 'flex';
  justify-content: 'center';
}

.categories_slider {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  margin-top: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  min-height: 400px;
  display: flex;
  -ms-overflow-style: none /* IE and Edge */;
  scrollbar-width: none;
  max-width: 100vw;
}
.categories_slider a {
  color: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.categories_slider::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.A .categories_slider h1 {
  font-family: cooper-black-std, serif;
  font-size: 36px;
}
.categories_slider .categories_text {
  font-weight: 400;
}

.categories_slider .link {
  padding: 1rem;
  margin: 0 8px;
  display: block;
  min-width: calc(100vw - 64px);
  height: calc(100vw - 64px);
  text-decoration: none;
}

.categories_slider .last_link {
  margin-right: 0 !important;
}
