.header {
  background-color: #262626;
  height: 90px;
  color: white !important;
  justify-content: space-between !important;
  width: 100vw;
  z-index: 99;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 6px #00000029;
}
.h_left {
  padding: 0.5rem 1.5rem;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font: normal normal normal 26.25px/30.75px Raleway;
  font-weight: 300;
}
.h_right {
  height: 90px;
}
.h_rightPlus {
  width: 90px;
  height: 90px;
  outline: none;
  align-self: flex-start;
  background-color: #1a1a1a;
  border: 0px solid #262626;
}
.h_rightPlus:hover {
  background-color: #1a1a1a;
  border: 1px solid #2680eb;
}
.h_rightImg {
  width: 25px;
}
