.inputsWrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.inputsWrapper input::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 200;
}
.inputsWrapper input:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 200;
}
.inputsWrapper input:-moz-placeholder {
  font-size: 1rem;
  font-weight: 200;
}
.inputsWrapper input::-moz-placeholder {
  font-size: 1rem;
  font-weight: 200;
}
.inputsWrapper input:not(:placeholder-shown) {
  border-color: hsl(0 76% 50%);
}
