.sidebar {
  position: fixed;
  top: 90px;
  left: 0;
  height: calc(100% - 90px);
  width: 160px;
  background-color: #262626;
  justify-content: flex-start;
  color: white;
  z-index: 1;
  align-items: flex-start;
  padding-top: 1rem;
}
.sidebar h3 {
  line-height: 1.92rem;
  font-weight: 300;
  font-size: 12.2px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}
.sidebar a,
.sidebar p {
  text-decoration: none;
  color: white;
  line-height: 1.92rem;
  font-weight: 300;
  font-size: 12.2px;
  font-family: 'Raleway', sans-serif;
  padding: 0 0 0 1.75rem;
  outline: none;
  width: 100%;
}
.sidebar a:hover,
.sidebar p:hover {
  background-color: #212121;
}
.sd_content {
  display: block;
}

/* @media all and (max-width: 750px) {
  .sidebar {
    display: none;
  }
} */
